/* SF Pro Display */
@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/sf-font-display/SF-Pro-Display-Light.otf") format("opentype"),
    url("/fonts/sf-font-display/SF-Pro-Display-Black.otf") format("opentype"),
    url("/fonts/sf-font-display/SF-Pro-Display-Semibold.otf") format("opentype"),
    url("/fonts/sf-font-display/SF-Pro-Display-Bold.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
/* @font-face {
  font-family: "SF Pro Display - Light";
  src: url("/fonts/sf-font-display/SF-Pro-Display-Light.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Display - Normal";
  src: url("/fonts/sf-font-display/SF-Pro-Display-Black.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Display - Semibold";
  src: url("/fonts/sf-font-display/SF-Pro-Display-Semibold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Display - Bold";
  src: url("/fonts/sf-font-display/SF-Pro-Display-Bold.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
} */
