body {
  min-height: 100vh;
  min-height: 100svh;
  font-family: var(--app-font-family-primary, "sans-serif");
  font-size: var(--app-font-size-quaternary, 18px);
  font-weight: 400;
}

.offcanvas-backdrop {
  background-color: rgba(
    var(--app-shadow-clr-primary-rgba, 0, 0, 0, 0.75)
  ) !important;
}

.offcanvas .offcanvas-body .nav-link {
  position: relative;
  font-size: var(--app-font-size-tertiary, 22px);
}
.offcanvas .offcanvas-body .nav-link::after {
  --caret-size: 0.7rem;
  --caret-width: 1px;
  --caret-color: rgb(var(--app-font-ligt-clr-secondary-rgb, #fff));
  content: "";
  position: absolute;
  width: var(--caret-size, 0.5rem);
  height: var(--caret-size, 0.5rem);
  aspect-ratio: 1/1;
  top: 50%;
  right: 0;
  transform: rotate(-45deg) translate(-50%, -100%);
  transform-origin: center;
  border-width: var(--caret-width, 2px);
  border-color: transparent var(--caret-color) var(--caret-color) transparent;
  border-style: solid;
}
.offcanvas .offcanvas-body .nav-link:is(:hover, :focus)::after {
  --caret-color: rgb(var(--app-font-ligt-clr-primary-rgb, #fff));
}

.footer-subscribtion-form div.input-area {
  position: relative;
}

.footer-subscribtion-form
  div.input-area
  input:is([type="text"], [type="email"]) {
  padding: 1.25rem;
}

.footer-subscribtion-form div.input-area button[type="submit"] {
  width: max-content;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-10px, -50%);
}

.banner-image-area img {
  max-width: 80vw;
  height: auto;
  min-height: 70vh;
}

/* Mobile View */
@media screen and (max-width: 768px) {
  /* .banner-image-area img{
    min-height: 60vh;
  } */
}

/* contact page */
.contact_golden_ratio {
  display: block;
  position: fixed;
  height: 100vh;
  right: 17%;
  z-index: -1;
}
.contact_container {
  padding: 100px 0px;
}
@media (max-width: 425px) {
  .contact_container {
    padding: 100px 10px;
  }
}
.contact_form_container h1 {
  font-family: "Trajan Pro";
  font-weight: 700px;
  font-size: 52px;
  text-transform: uppercase;
}
.contact_from_input {
  border: 1px solid #dedede;
  border-radius: 9px;
  padding: 20px;
  background: transparent;
}
.contact_info_container {
  background: #2b2b2b;
  border-radius: 13px;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  margin-top: 0px;
}
.contact_info_inner_container {
  padding: 100px 50px;
  max-width: 400px;
  border: 1px solid #dedede;
  border-radius: 9px;
}
@media (max-width: 768px) {
  .contact_info_container {
    margin-top: 50px;
    padding: 0px 5px;
  }
  .contact_golden_ratio {
    display: none;
  }
}
@media (max-width: 425px) {
  .contact_info_inner_container {
    padding: 100px 20px;
  }
}
.contact_info_inner_container h4 {
  font-weight: 400;
  font-size: 30px;
}
.contact_icon_point {
  min-width: 28px;
  min-height: 28px;
  background: #a99b56;
  display: grid;
  place-items: center;
  border-radius: 999px;
}
.contact_info_point {
  font-weight: 400;
  font-size: 18px;
}

/* management */
.slider_container {
  background-image: url("../images/slider.png");
  background-color: #2b2b2b;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 20px 0px;
  margin-bottom: 100px;
  z-index: 2;
  overflow: hidden;
}
.slider_golden_ratio {
  bottom: -50px;
  left: 0;
  z-index: -1;
}
.slider_info_container {
  padding: 100px 0px;
}
.slider_info_container button {
  border: 1px solid #ffffff;
  border-radius: 43px;
  width: 238px;
  height: 59px;
  background: transparent;
  font-weight: 400;
  font-size: 22px;
  margin-bottom: 50px;
}
.slider_info_container button:hover {
  background-color: #969696;
}
.slider_info_container h2 {
  text-transform: uppercase;
  font-family: "Trajan Pro";
  font-weight: 500;
  font-size: 64px;
}

.section_title {
  font-family: "Trajan Pro";
  font-weight: 500;
  font-size: 52px;
  text-align: center;
  text-transform: uppercase;
  max-width: 1014px;
}
.capital_management_container {
  padding: 100px 0px;
}
.section_des {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  max-width: 1014px;
}
@media (max-width: 425px) {
  .section_title {
    font-size: 32px;
  }
  .capital_management_container {
    padding: 70px 20px;
  }
  .slider_golden_ratio {
    bottom: -30px;
  }
  .slider_info_container {
    padding: 70px 20px;
  }
  .slider_info_container h2 {
    font-size: 32px;
  }
}
.border_card {
  max-width: 295px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid #a99b56;
  backdrop-filter: blur(4.15px);
  border-radius: 11px;
  padding: 20px;
  height: 100%;
  position: relative;
  margin: 0px auto;
}
.cart_arrow_path {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -55px;
}
.border_card h4,
.card_without_border h4 {
  font-family: "SF Pro Display";
  font-weight: 500;
  font-size: 20px;
}
.border_card p,
.card_without_border p {
  font-family: "SF Pro Display";
  font-weight: 400;
  font-size: 16px;
}
.border_card_icon {
  width: 53px;
  height: 53px;
  background: #a99b56;
  display: grid;
  place-items: center;
  border-radius: 100%;
}
.arrow_path_container {
  width: 100%;
  max-width: 950px;
}
.card_without_border {
  max-width: 295px;
  padding: 20px;
  height: 100%;
  margin: 0px auto;
  position: relative;
}
.card_without_border_text_container::after {
  content: "";
  width: 1px;
  height: 77%;
  background: rgba(255, 255, 255, 0.52);
  position: absolute;
  right: -10px;
  top: 65px;
}
.comprehensive_variant_container {
  background: #2b2929;
  width: 100%;
  max-width: 1232px;
  min-height: 400px;
  padding: 50px;
  text-align: center;
  display: grid;
  place-items: center;
}
.comprehensive_outline_container {
  width: 100%;
  max-width: 1232px;
  height: 100%;
  border: 1px solid #d3bb95;
  position: absolute;
  z-index: -1;
  left: 20px;
  top: 20px;
}
.comprehensive_variant_container h1 {
  font-family: "SF Pro Display";
  font-weight: 400;
  font-size: 40px;
}
.comprehensive_variant_container h2 {
  font-family: "Trajan Pro";
  font-weight: 500;
  font-size: 46px;
  text-transform: uppercase;
}
.comprehensive_variant_container p {
  font-weight: 400;
  font-size: 18px;
}
@media (max-width: 768px) {
  .arrow_path_container {
    width: 500px;
  }
  .cart_arrow_path {
    display: none;
  }
  .card_without_border_text_container::after {
    display: none;
  }
}
@media (max-width: 425px) {
  .arrow_path_container {
    display: none !important;
  }
  .comprehensive_variant_container,
  .comprehensive_outline_container {
    padding: 10px;
    width: 90%;
  }
  .comprehensive_variant_container h1 {
    font-family: "SF Pro Display";
    font-weight: 400;
    font-size: 20px;
  }
  .comprehensive_variant_container h2 {
    font-family: "Trajan Pro";
    font-weight: 500;
    font-size: 26px;
    text-transform: uppercase;
  }
}

/* disclosure */
.disclosure_container {
  padding: 20px 0px;
  overflow: hidden;
  background: #2c2c2c;
  height: 447px;
}
.disclosure_info_container {
  padding: 50px 0px 70px 0px;
}
.condition_lists {
  list-style: none;
  list-style-position: outside;
  padding: 0px;
  margin-top: 60px;
}
.condition_lists li {
  margin-bottom: 40px;
}
.condition_title_area {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
}
.condition_title_area div {
  min-width: 25px;
  min-height: 25px;
  background: #a99b56;
  border-radius: 100%;
}
.condition_title_area h3 {
  font-family: "Trajan Pro";
  font-weight: 500;
  font-size: 32px;
  margin: 0px;
}
@media (max-width: 425px) {
  .disclosure_container {
    height: 300px;
  }
  .disclosure_info_container {
    padding: 50px 30px 70px 30px;
  }
  .condition_title_area {
    align-items: start;
  }
  .condition_title_area div {
    margin-top: 7px;
  }
}

/* login */
.login_container {
  width: 100%;
  max-width: 800px;
  background: #2c2b2b;
  border-radius: 24px;
  padding: 50px 100px;
  margin: 0px auto;
}
.login_container h2 {
  max-width: 324px;
  margin: 0px auto;
  font-size: 33px;
}
.login_golden_ratio {
  position: absolute;
  z-index: -1;
  top: 80%;
}

@media (max-width: 768px) {
  .login_golden_ratio {
    display: none;
  }
}
@media (max-width: 425px) {
  .login_container {
    padding: 20px;
  }
}
